@font-face {
    font-family: 'UnitSlabOT-Bold';
    src: url('static/UnitSlabOT-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body, [class*="css"] {
    font-family: 'UnitSlabOT-Bold'; 
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}
